@import url("base.css");
@import url("download-buttons.css");

/* Footer */
footer{
    background-color: rgba(202, 221, 97, 0.5);
    border-radius: 10% 10% 0 0; 
}

footer .container{
    display: grid;
    grid-template-columns: 47% 3% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "text divider contact-us"
        "download-buttons divider privacy-policy";
    padding: 18px 40px 20px 40px;
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

footer .text{
    grid-area: text;
}

footer .text h1{
    display: grid;
    color: var(--primary-font-color);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

footer .divider{
    grid-area: divider;
    width: 1px;
    background-color: var(--primary-font-color);
    align-self: stretch;
    justify-self: center;
}

footer .download-buttons{
    grid-area: download-buttons;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .contact-us{
    grid-area: contact-us;
    align-self: center;
    line-height: 0.5;
}  

footer .contact-us h1{
    font-size: 19px;
    font-weight: bold;
    color: var(--primary-font-color);
}

footer .contact-us h2{
    font-size: 16px;
    color: var(--primary-font-color);
}

footer .privacy-policy{
    grid-area: privacy-policy;
    display: flex;
    flex-direction: column;
    align-self: center;
    line-height: 1.8;
}

footer .privacy-policy a{
    font-size: 12px;
    font-weight: 600;
    color: var(--secondary-font-color);
    text-decoration: none;
    transition: all 0.3s ease; 
    cursor: pointer;
}

footer .privacy-policy a:hover{
    font-size: 13px; 
    font-weight: 700; 
    color: var(--primary-font-color); 
    transform: scale(1.05);
    text-decoration: underline;
}

@media (min-width: 756px){
    footer .download-buttons{
        display: flex;
        flex-direction: row;
    }

    footer .contact-us{
        grid-area: contact-us;
        display: grid;
        justify-self: start;
        line-height: 0.1;
    }
}
