/* Global settings */
:root {
    --primary-font-color: #212427; 
    --secondary-font-color: #383838; 
    --background-color: #F8F9FA;
}

html, body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1400px;
    background-color: var(--background-color);
}

/* Header section */
header {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd; 
}

header .logo-content{
    display: flex;
    align-items: center;
}

header .logo-content .logo {
    padding-left: 5px;
    width: 55px;
    height: 40px;
}

header .logo-content a{
    text-decoration: none;
    color: var(--primary-font-color);
    font-size: 16px;
}

header .logo-content a:hover{
    color: #000;
}

header .navigation a{
    padding-right: 10px;
    text-decoration: none;
    color: var(--secondary-font-color);
    font-size: 14px;
    transition: all 0.3s ease;
}

header .navigation a:hover{
    font-size: 15px;
    color: var(--primary-font-color); 
    transform: scale(1.05);
    font-weight: 700; 
}

/* Top main section */
.top-section{
    background: linear-gradient(180deg, #CADD61 0%, #F8F9FA 100%);
    padding: 10px;
}

.top-section .main-information {
    display: flex; 
    flex-direction: column;
    text-align: center;
    padding: 10px; 
}

.top-section .main-information h1 {
    font-size: 25px;
    color: var(--primary-font-color);
    font-weight: bold;
}

.top-section .main-information p {
    font-size: 11px;
    color: var(--secondary-font-color);
}

.top-section .top-arrow{
    height: 40px;
}

.top-section .top-arrow img{
    width: 50px;
    height: auto;
    position: absolute;
    right: 10px;
    top: 218px;
    transform: rotate(-10deg);
}

.top-section .download-buttons {
    height: 148px;
    display: flex;
    flex-direction: row; 
    justify-content: space-evenly;
}

.top-section .download-buttons .download-button {
    width: 170px;
    height: 36px;                   
    border-radius: 0.3rem;
    background: #000;
    color: #FFF;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-align: center;
    display: flex;
    align-items: center;            
    justify-content: center; 
    outline: none;
    border: none;
    cursor: pointer;
}

.top-section .download-buttons .download-button .icon {
    margin-right: 6px;
    width: 16px;
    height: auto;
    
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.top-section .download-buttons .download-button:hover {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.top-section .bottom-arrow{
    height: 20px;
}

.top-section .bottom-arrow img{
    width: 75px;
    height: auto;
    position: absolute;
    left: 70px;
    top: 330px;
    transform: rotate(-30deg);
}

.top-section .right-circle{
    height: 42px; 
    width: 42px; 
    background: linear-gradient(90deg, #FA5958, #F5658F, #FDB653);
    border-radius: 50%; 
    position: absolute;
    top: 400px;
    right: 15px;
}

.top-section .left-circle{
    height: 70px; 
    width: 70px; 
    background: linear-gradient(90deg, #E2B48E, #E29669);
    border-radius: 50%; 
    position: absolute;
    top: 415px;
    left: -15px;
}

.top-section .statistic-bar{
    height: 55px;
    border-radius: 21rem;
    background: linear-gradient(180deg, #CADD61 0%, #F8F9FA 100%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 20px;
}

.top-section .statistic-bar .statistic-column{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.top-section .statistic-bar .stat-number{
    font-size: 14px;
    font-weight: bold;
}

.top-section .statistic-bar .stat-label{
    font-size: 14px;
}


/* Overview section */
.overview-section {
    flex: flex;
    flex-direction: column;
    padding: 10px;
}

.overview-section .content{
    display: grid; 
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.overview-section .content .text-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 20px 20px;
}

.overview-section .content .text-content h1{
    color: #FF8704;
    font-size: 13px;
    font-weight: 600;
    align-self: flex-start;
    margin-bottom: 0;
}
.overview-section .content .text-content h2{
    color: var(--primary-font-color);
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 0;
}

.overview-section .content .text-content p{
    color: var(--secondary-font-color);
    font-size: 14px;
}

.overview-section .content .phone-mockup{ 
    position: relative;
}

.overview-section .content img{
    position: relative;
    z-index: 1;
    display: block;
    min-height: 100%;
}

.overview-section .content .phone-mockup .phone-background{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px; 
    width: 300px; 
    background: linear-gradient(90deg, #D9B967, #8EC3A7, #8EC3A7, #D9B967);
    border-radius: 50%;  
}

@media (min-width: 600px) {
    .overview-section .content{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .overview-section .content:nth-child(odd) .text-content{
        order: 2;
        text-align: left;
        align-self: start;
    }

    .overview-section .content:nth-child(odd) .phone-mockup{
        order: 1;
    }

    .overview-section .content:nth-child(even) .text-content{
        order: 1;
        align-self: start;
        text-align: left;
        padding-left: 50px;
    }

    .overview-section .content:nth-child(even) .phone-mockup{
        order: 2;
    }
}

/* Features section */
.feature-section{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.feature-section h1{
    color: var(--primary-font-color);
    font-weight: bold;
    font-size: 46px;
}

.feature-section .feature-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.feature-section .feature-grid .feature-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature-section .feature-grid .feature-item img{
    width: 100px;
    height: 90px;
}

.feature-section .feature-grid .feature-item .content h2{
    font-size: 20px;
    color: var(--primary-font-color);
    font-weight: 600;
}

.feature-section .feature-grid .feature-item .content p{
    font-size: 14px;
    color: var(--secondary-font-color);
}

@media (min-width: 600px){
    .feature-section .feature-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px){
    .feature-section .feature-grid{
        grid-template-rows: repeat(4, 1fr);
    }
}

/* Space */
.space{
    height: 50px;
    width: auto;
}

/* Footer */
footer{
    display: grid;
    grid-template-columns: 45% 2px 2px 50%;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "text divider . contact-us"
        "download-buttons divider . privacy-policy";
    background-color: rgba(202, 221, 97, 0.5);
    border-radius: 10% 10% 0 0; 
    padding: 18px 40px 20px 40px;
    gap: 10px;
}

footer .text{
    grid-area: text;
}

footer .text h1{
    display: grid;
    color: var(--primary-font-color);
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

footer .divider{
    grid-area: divider;
    width: 1px;
    background-color: var(--primary-font-color);
    align-self: stretch;
    justify-self: center;
}

footer .download-buttons{
    grid-area: download-buttons;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* apple button */
footer .download-buttons .download-buttons-apple{
    display: inline-flex;
    align-items: center;
    background-color: white;
    color: black;
    border: none;
    border-radius: 30px;
    padding: 5px;
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.3s ease; 
    padding: 10px;
    cursor: pointer;
}

footer .download-buttons .download-buttons-apple img {
    margin-right: 16px;
    width: 20px;
    height: auto;
}

footer .download-buttons .download-buttons-apple .text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    align-items: start;
}

footer .download-buttons .download-buttons-apple .text span {
    font-size: 10px;
    color: black;
}

footer .download-buttons .download-buttons-apple .text strong {
    font-size: 12px;
    font-weight: bold;
    color: black;
}

footer .download-buttons .download-buttons-apple:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

/* android button */
footer .download-buttons .download-buttons-android{
    display: inline-flex;
    align-items: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 5px;
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.3s ease; 
    padding: 10px;
    cursor: pointer;
}

footer .download-buttons .download-buttons-android img {
    margin-right: 16px;
    width: 20px;
    height: auto;
}

footer .download-buttons .download-buttons-android .text {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    align-items: start;
}

footer .download-buttons .download-buttons-android .text span {
    font-size: 10px;
    color: #ccc;
}

footer .download-buttons .download-buttons-android .text strong {
    font-size: 12px;
    font-weight: bold;
    color: white;
}

footer .download-buttons .download-buttons-android:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

footer .contact-us{
    grid-area: contact-us;
    align-self: center;
    justify-self: end;
    line-height: 0.5;
}  

footer .contact-us h1{
    font-size: 19px;
    font-weight: bold;
    color: var(--primary-font-color);
}

footer .contact-us h2{
    font-size: 16px;
    color: var(--primary-font-color);
}

footer .privacy-policy{
    grid-area: privacy-policy;
    display: flex;
    flex-direction: column;
    align-self: center;
    line-height: 1.8;
}

footer .privacy-policy a{
    font-size: 12px;
    font-weight: 600;
    color: var(--secondary-font-color);
    text-decoration: none;
    transition: all 0.3s ease; 
    cursor: pointer;
}

footer .privacy-policy a:hover{
    font-size: 13px; 
    font-weight: 700; 
    color: var(--primary-font-color); 
    transform: scale(1.05);
    text-decoration: underline;
}

@media (min-width: 600px){
    footer {
        grid-template-columns: 55% 5% 2px 5% 35%;
        grid-template-areas: 
            "text . divider . contact-us"
            "download-buttons . divider . privacy-policy";
    }

    footer .download-buttons{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    footer .contact-us{
        grid-area: contact-us;
        display: grid;
        justify-self: start;
        line-height: 0.1;
    }
}

/* .overview-section .content .first-circle{
    height: 14px; 
    width: 14px; 
    background: linear-gradient(90deg, #DAA5DE, #AC8BF0);
    border-radius: 50%; 
    position: absolute;
    top: 850px;
    right: 60px;
}

.overview-section .content .second-circle{
    height: 14px; 
    width: 14px; 
    background: linear-gradient(90deg, #D0AFD1, #DDA8B7);
    border-radius: 50%; 
    position: absolute;
    top: 900px;
    right: 30px;
}

.overview-section .content .third-circle{
    height: 22px; 
    width: 22px; 
    background: linear-gradient(90deg, #E2B48E, #E29669);
    border-radius: 50%; 
    position: absolute;
    top: 1135px;
    left: 20px;
} */

