@import url("base.css");
@import url("download-buttons.css");

/* Top main section */
.top-section{
    background: linear-gradient(180deg, #CADD61 0%, #F8F9FA 100%);
}

.top-section .top-section-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.top-section .main-information {
    display: flex; 
    flex-direction: column;
    text-align: center;
    padding: 50px 50px 20px 50px; 
}

.top-section .main-information h1 {
    font-size: 40px;
    color: var(--primary-font-color);
    font-weight: bold;
}

.top-section .main-information p {
    font-size: 16px;
    color: var(--secondary-font-color);
    margin-bottom: -10px;
}

.top-section .overview{
    position: relative;
    z-index: 0;
}

.top-section .overview .top-arrow img{
    width: 70px;
    height: auto;
    position: absolute;
    right: 70px;
    top: -250px;
    transform: rotate(10deg);
}

.top-section .download-buttons {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 40%;
    height: auto;
    gap: 10px;
    padding: 80px 0 20px 0;
} 

.top-section .overview .bottom-arrow img{
    width: 75px;
    height: auto;
    position: absolute;
    left: 80px;
    top: -40px;
    transform: rotate(-10deg);
}

.top-section .overview .right-circle{
    height: 50px; 
    width: 50px; 
    background: linear-gradient(90deg, #FA5958, #F5658F, #FDB653);
    border-radius: 50%; 
    position: absolute;
    top: 70px;
    right: -10px;
    z-index: -1;
}

.top-section .overview .left-circle{
    height: 70px; 
    width: 70px; 
    background: linear-gradient(90deg, #E2B48E, #E29669);
    border-radius: 50%; 
    position: absolute;
    top: 78px;
    left: -35px;
    z-index: -1;
}

.top-section .overview{
    display: flex;
    justify-self: center;
}

.top-section .overview img{
    padding-top: 50px;
}

.top-section .statistic-bar{
    height: 55px;
    border-radius: 21rem;
    background: #CADD61;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px 20px;
    margin: -4px auto 36px;
    z-index: 1;
    position: relative;
    max-width: 550px;
}

.top-section .statistic-bar .statistic-column{
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.top-section .statistic-bar .stat-number{
    font-size: 14px;
    font-weight: bold;
}

.top-section .statistic-bar .stat-label{
    font-size: 14px;
}

@media (min-width: 756px){
    .top-section .download-buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);  
        padding-top: 80px;
    }

    .top-section .overview .top-arrow img{
        width: 70px;
        height: auto;
        position: absolute;
        right: 0px;
        top: -200px;
        transform: rotate(10deg);
    }
    
    .top-section .overview .bottom-arrow img{
        width: 75px;
        height: auto;
        position: absolute;
        left: 20px;
        top: -40px;
        transform: rotate(-30deg);
    }

}
